html, body {
  height: 100%;
  margin: 0;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
}
#game-root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
canvas {
  display: block;
  margin: 0 auto;
}
